body{
    background-color: lightskyblue;
}
#encuadre_btnaccesorio
{
    margin-left: 535px;
}
#finalizar
{
    margin-left: 570px;
	margin-top: 20px;
}
#encuadre_btn
{
    margin-left: 535px;
}
#encuadre_btnEnviar
{
    margin-left: 615px;
}
#datosauto
{
    margin-left: 570px;
}